---
- name: win_file module demo
  hosts: deploys
  gather_facts: yes
  become: yes
  become_user: administrator
  vars:
    mydir: 'C:\temp\tools'
  tasks:
    - name: Create a directory
      ansible.windows.win_file:
        path: "{{ mydir }}"
        state: directory
  
    - name: copy file
      ansible.windows.win_copy:
       src: ~/.ssh/ansible_karlson/LGPO.exe
       dest: c:\temp\tools
      register: script_return
    - debug:
        msg: "{{ script_return }}"
        
    - name: copy policy files
    - synchronize: Sync Policy files
        src: ~/.ssh/ansible_karlson/WindowServerGroupPolicy/
        dest: c:\temp\tools\
        recursive: True
        delete: False
