---
- name: win_file module demo
  hosts: deploys
  gather_facts: yes
  become: yes
  become_user: ansible
  vars:
    mydir: 'C:\temp\tools\WindowServerGroupPolicy'
  tasks:
    - name: Create a directory
      ansible.windows.win_file:
        path: "{{ mydir }}"
        state: directory
  
    - name: copy file
      ansible.windows.win_copy:
       src: ~/.ssh/ansible_karlson/LGPO.exe
       dest: c:\temp\tools
      register: script_return
    - debug:
        msg: "{{ script_return }}"
        
    - name: copy policy files
      ansible.windows.win_copy: 
        src: ~/.ssh/ansible_karlson/WindowServerGroupPolicy/
        dest: c:\temp\tools\WindowServerGroupPolicy
    - debug:
        msg: "{{ script_return }}"

    - name: Implement policies
      ansible.windows.win_powershell:
        path: c:\temp\tools\WindowServerGroupPolicy\windowsserverlgpo.ps1
        remote_src: true    
