- name: copy file
  hosts: deploys
  gather_facts: yes
  become: yes
  become_user: administrator

  tasks:
    - name: Create directory
      ansible.builtin.file:
        path: c:\temp\tools
        state: directory
        register: script_return
    - debug:
        msg: "{{ script_return }}"
        
    - name: copy file
      ansible.windows.win_copy:
       src: ~/.ssh/ansible_karlson/LGPO.exe
       dest: c:\temp\tools
      register: script_return
    - debug:
        msg: "{{ script_return }}"
